In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('anika.csv', delimiter = ',')
df
df.values

array([[  0, 412, 453, 501],
       [  0, 412, 453, 501],
       [  0, 412, 453, 501],
       ...,
       [600, 628, 665, 697],
       [600, 628, 665, 697],
       [600, 628, 665, 697]])

In [6]:
df.shape

(219802, 4)

In [11]:
df1 = pd.read_csv('M1_test1.csv', delimiter = ',')
df1

       or_x  or_y  height  width
0         0     0     453     89
1         0     0     453     89
2         0     0     453     89
3         0     0     453     89
4         0     0     453     89
5         0     0     453     89
6         0     0     453     89
7         0     0     453     89
8         0     0     453     89
9         0     0     453     89
10        0     0     453     89
11        0     0     453     89
12        0     0     453     89
13        0     0     453     89
14        0     0     453     89
15        0     0     453     89
16        0     0     453     89
17        0     0     453     89
18        0     0     453     89
19        0     0     453     89
20        0     0     453     89
21        0     0     453     89
22        0     0     453     89
23        0     0     453     89
24        0     0     453     89
25        0     0     453     89
26        0     0     453     89
27        0     0     453     89
28        0     0     453     89
29        0     0     453     89
...     ...   ...     ...    ...
40287     0     0     453     89
40288     0     0     453     89
40289     0     0     453     89
40290     0     0     453     89
40291     0     0     453     89
40292     0     0     453     89
40293     0     0     453     89
40294     0     0     453     89
40295     0     0     453     89
40296     0     0     453     89
40297     0     0     453     89
40298     0     0     453     89
40299     0     0     453     89
40300     0     0     453     89
40301     0     0     453     89
40302     0     0     453     89
40303     0     0     453     89
40304     0     0     453     89
40305     0     0     453     89
40306     0     0     453     89
40307     0     0     453     89
40308     0     0     453     89
40309     0     0     453     89
40310     0     0     453     89
40311     0     0     453     89
40312     0     0     453     89
40313     0     0     453     89
40314     0     0     453     89
40315     0     0     453     89
40316     0     0     453     89

[40317 rows x 4 columns]

In [12]:
df1

       or_x  or_y  height  width
0         0     0     453     89
1         0     0     453     89
2         0     0     453     89
3         0     0     453     89
4         0     0     453     89
5         0     0     453     89
6         0     0     453     89
7         0     0     453     89
8         0     0     453     89
9         0     0     453     89
10        0     0     453     89
11        0     0     453     89
12        0     0     453     89
13        0     0     453     89
14        0     0     453     89
15        0     0     453     89
16        0     0     453     89
17        0     0     453     89
18        0     0     453     89
19        0     0     453     89
20        0     0     453     89
21        0     0     453     89
22        0     0     453     89
23        0     0     453     89
24        0     0     453     89
25        0     0     453     89
26        0     0     453     89
27        0     0     453     89
28        0     0     453     89
29        0     0     453     89
...     ...   ...     ...    ...
40287     0     0     453     89
40288     0     0     453     89
40289     0     0     453     89
40290     0     0     453     89
40291     0     0     453     89
40292     0     0     453     89
40293     0     0     453     89
40294     0     0     453     89
40295     0     0     453     89
40296     0     0     453     89
40297     0     0     453     89
40298     0     0     453     89
40299     0     0     453     89
40300     0     0     453     89
40301     0     0     453     89
40302     0     0     453     89
40303     0     0     453     89
40304     0     0     453     89
40305     0     0     453     89
40306     0     0     453     89
40307     0     0     453     89
40308     0     0     453     89
40309     0     0     453     89
40310     0     0     453     89
40311     0     0     453     89
40312     0     0     453     89
40313     0     0     453     89
40314     0     0     453     89
40315     0     0     453     89
40316     0     0     453     89

[40317 rows x 4 columns]